/*Checkbox button */
.backgroundBtn {
  border: 3px solid lightgreen;
  cursor: pointer;
  display: block;
  user-select: none;
  position: relative;
  height: 26px;
  width: 26px;
  border-radius: 5px;
}

/* Hide the browser's default checkbox */
.backgroundBtn>input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height:20px;
  width: 20px;
  background-color: #E4E4E4;
}

/* On mouse-over, add a grey background color */
.backgroundBtn:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.backgroundBtn input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.backgroundBtn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.backgroundBtn .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* History button*/
.historyBtn {
  border: 3px solid lightgreen;
  cursor: pointer;
  display: block;
  user-select: none;
  position: relative;
  height: 30px;
  width: 76px;
  border-radius: 5px;
}
.history{
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 70px;
  border-radius: 5px;
  background-color: #E4E4E4;
}